{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}

{% include 'layouts/Barra_user.html'%}
<head>
    <title>Registro Area</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/ALL.css' %}">
</head>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Agregar</button>
    </form>
</center>
<style>
    form {
        display: flex;
        margin: 20px; 
        padding: 50px; 
        border: 1px solid #ccc; 
        background-color: #f9f9f9; 
        justify-content: space-evenly;
    }

</style>

{% endblock %}