<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
</head>
<body>
    <h1>Carrito de Compras</h1>
    <ul>
        {% for item in productos_en_carrito %}
            <li>
                {{ item.producto.nombre }} - Cantidad: {{ item.cantidad }}
                <!-- Aquí podrías agregar enlaces para eliminar productos del carrito -->
            </li>
        {% endfor %}
    </ul>
</body>
</html>
