<div style="display: flex; justify-content: space-evenly;">
    <a href="{% url 'R_Persona' %}" class="btn">PERSONA</a>
    <a href="{% url 'R_Area' %}" class="btn">AREA</a>

</div>

<style>
    .btn{
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            text-align: center;
            text-decoration: none;
            background-color: #21a4d8; 
            color: #fff;
            border-radius: 5px;
        }
        .btn:hover{
            background-color: #0056b3;
        }
</style>